# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set values specific to the RedHat family based on OS major version.
---
values:
  config:
    desktop_entry: '/usr/share/applications/postman.desktop'
    icon_source: '/app/resources/app/assets/icon.png'
    install_root: '/opt/Postman'
    sandbox_enabled: false
    selinux_fcontext: 'usr_t'
    ssl_min_version: 'tls1.2'
    update_mime_database: '/usr/bin/update-desktop-database'
    whitelist_enabled: true
    wrapper_bin: '/usr/local/bin/postman'
  pkg:
    download_sig: ''
    {%- if salt['grains.get']('osmajorrelease') | int == 9 %}
    download_uri: 'https://dl.pstmn.io/download/version/10.24.26/linux64'
    {%- else %}
    download_uri: 'https://dl.pstmn.io/download/latest/linux_64'
    {%- endif %}
    name: 'postman-api'
  service: {}
...
