[Desktop Entry]
Categories=Development;
Comment=Postman API Platform
Exec={{ postman_api.config.wrapper_bin }}
Icon={{ postman_api.config.install_root }}{{ postman_api.config.icon_source }}
Name=Postman
Terminal=false
Type=Application
